@font-face {
  font-family: "American Typewriter";
  src: local("American Typewriter"),
    url(./fonts/American-Typewriter-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: American Typewriter, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
